# Configurações de Ambiente - BenApp (Exemplo para Git)

APP_ENV=local
APP_DEBUG=true
APP_NAME="BenApp - Gestão de Células"
APP_URL="http://localhost:8080"

# Conexão com Banco de Dados PostgreSQL (Docker / Local)
DB_HOST=db
DB_PORT=5432
DB_NAME=benapp
DB_USER=root
DB_PASS=rootpassword

# Segredos da Aplicação
APP_KEY=sua_chave_secreta_aqui

# API Externa Cifra Club
CIFRACLUB_API_URL=http://cifraclub-api:3000
